body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    height: 100vh;
    width: 100vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #272727;
    overflow: hidden;
}
.formCont{

    padding: 2rem;
    border-radius: 1rem;
}
.forminner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
    font-size: 24px;
    
    width: 20vw;
}

input[type=text]{
    background-color: #29343b;
    border: 2px solid #e4740b;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 25vw;
    height: 5vh;
    color: whitesmoke;
}
input[type=submit]{
    background-color: #e4740b;
    color: white;
    font-size: 1.5rem;
    outline: none;
    border: 0;
    height: 5vh;
    width: 25vw;
    border-radius: 8px;
    transition: all 100ms ease;
}
input[type=submit]:hover{
    background-color: rgba(228, 116, 11, 0.8);
    color: #272727;
    cursor: pointer;
}